/* font-family: 'Quicksand', sans-serif;
COLORS
light-yellow - #f7e4bf;
light-blue - #78a7c6;
dark-blue - #134d71;
white - #ffffff;
black - #000000;
*/

* {
    font-family: 'Quicksand', sans-serif;
}

html {
    height: 100;
}

body {
    background: linear-gradient(#134d71,#78a7c6, #f7e4bf);
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100%;
    margin: 0;
}

.title {
    text-align: center;
    color: #ffffff;
    margin: 50px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2 {
    color: #ffffff;
    margin: 5px;
}

form {
    display: flex;
    border-radius: 5px;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-content: space-around;
    align-items: stretch;
    width: 500px;
    height: 75px;
    background-color: #ffffff;
}



label.form-controls {
    font-style: italic;
}


button {
    align-items: center;
    background-color: #134d71;
    color: #ffffff;
}


.div {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.fix-button {
    display: flex;
    justify-content: center;
    justify-items: flex-start;
    padding: 10px;
}

img {
    height: 150px;
    width: 90px;
}

.box {
    display: flex;
    margin: 80px;
    border-radius: 5px;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-around;
    width: 700px;
    height: 150px;
    background-color: #ffffff;
}

.made-nice-words {
    font-size: 25px;
    font-weight: normal;
    align-items: center;
}

.hidden {
    display: none!important;
  }
  